<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>Legends</title>
  </head>
  <body>
    <div class="header">
      <h1>APEX LEGENDS</h1>
      <nav>
        <a href="/newLegend">CREATE A LEGEND</a>
      </nav>
    </div>
    <div class="legends">
    <ul>
      <% for(let i = 0; i < legends.length; i++){ %>
        <li>
            <img src="<%=legends[i].img%>">
            <a href="/legend/<%=legends[i].id %>">
                <%= legends[i].name %>
            </a>
            <form action="/legend/<%=legends[i].id%>?_method=delete" method="post">
                <input class="delete" type="submit" value="DELETE"/>
            </form>
        </li>
      <% } %>
    </ul>
  </div>

  </body>
</html>
