<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title><%=legends.name%></title>
  </head>
  <body>
    <div class="body">
      <img src="<%=legends.img%>" alt="Picture of <%=legends.name%>" class="pic"/>
    <div class="title">
      <h1>
        <%= legends.name %> <br>
        <a href="/legend/<%=legends.id%>/edit" class="tag">Edit Legend</a> <br>
        <a href="/" class="tag">Home</a>
      </h1>
  </div>

  <div class="list">
  <h2>
    Type: <br>
    <%= legends.type %>
    </h2>
  <h2>
    Full Name: <br>
    <%= legends.fullName %>
    </h2>
  </div>

  <div class="paragraphs">
  <h1>
    Passive Ability:
    </h1>
  <h2>
    <%= legends.passive %>
    </h2>
  <h1>
    Active Ability:
    </h1>
  <h2>
    <%= legends.tact %>
    </h2>
  <h1>
    Ultimate Ability:
    </h1>
  <h2>
    <%= legends.ult %>
    </h2>
  <h1>
    Description:
    </h1>
    <h2>
      <%= legends.description %>
      </h2>
    </div>
</div>
  </body>
</html>
